<h1 class="header">
  Dashboard
  <a
    class="auto-refresh-toggle"
    (click)="toggleAutoRefresh()"
    [ngClass]="{
      on: autoRefreshActive,
      off: !autoRefreshActive
    }"
  >
    Auto Refresh is {{ autoRefreshActive ? 'On' : 'Off' }}
  </a>
</h1>
<div class="row">
  <dashboard-card
    title="Current temperature"
    [value]="currentTemperature"
    [history]="temperatureHistory"
    (onRefresh)="onRefreshTemperature()"
    (onClick)="goToFullHistory('temperature')"
  ></dashboard-card>

  <dashboard-card
    title="Current noise"
    [value]="currentNoise"
    [history]="noiseHistory"
    (onRefresh)="onRefreshNoise()"
    (onClick)="goToFullHistory('noise')"
  ></dashboard-card>
</div>
