.dashboard-card {
  display: block;
  width: 300px;
  padding: 0 10px;
  border: 1px solid lightgrey;
}

.dashboard-card .title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.dashboard-card .value {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
