.dashboard-card {
  display: block;
  width: 300px;
  padding: 0 10px;
  border: 1px solid lightgrey;
}

.dashboard-card .refresh-icon {
  font-size: 16px;
  color: grey;
  padding-left: 10px;
  cursor: pointer;
  user-select: none;
}

.dashboard-card .title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

.dashboard-card .value {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
}
